body {
  display: flex;
  flex-direction: column;
  background-color: grey;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
header {
  background-color: darkgray;
  flex-grow: 0.1;
}
.mainContainer {
  flex-grow: 0.9;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gameBoard {
  width: 450px;
  height: 450px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gameBoardRow > button {
  height: 150px;
  width: 150px;
  outline: 0;
  text-align: center;
  vertical-align: top;
  border: 10px solid;
  background-color: grey;
  font-size: 75px;
}
#space1,
#space4,
#space7 {
  border-left: 0;
}
#space3,
#space6,
#space9 {
  border-right: 0;
}
#space1,
#space2,
#space3 {
  border-top: 0;
}
#space7,
#space8,
#space9 {
  border-bottom: 0;
}
footer {
  flex-grow: 0.05;
  background-color: darkgray;
}
.winnerAlert {
  position: absolute;
  width: 500px;
  top: 300px;
  background-color: red;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid;
}
.winnerAlert > button {
  color: red;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: solid black;
}
#AI {
  visibility: hidden;
  position: absolute;
}
#winnerId {
  margin: 10px;
}
/* index page css */
#X,
#O {
  color: white;
  background-color: black;
  width: 150px;
  height: 150px;
  margin: 10px;
  font-size: 30px;
}
#playerOptions {
  margin: 10px;
  font-size: 20px;
}
.radioContainer {
  font-size: 20px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
